body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(wg.jpg);
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: row;
}
.img1 {
  width: 50%;
  float: right;
}
.img2 {
  width: 50%;
}
h1 {
  background-color: rgb(255, 255, 255);
  width: max-content;
  padding: 2%;
  border: rgb(53, 135, 17) solid;
  border-radius: 20px;
}
.shell {
  position: absolute;
  color: rgb(53, 135, 17);
  border: 4px solid;
  display: flex;
  height: 70%;
  width: 70%;
  box-shadow: 20px 20px 15px -7px rgba(0, 0, 0, 0.6);
}
.body :hover .shell {
  border: 0 solid;
}
.left {
  position: relative;
  flex: 1.4;
  width: 50rem;
  overflow: hidde;
}
.four {
  width: 100%;
  height: 100%;
}
.right {
  position: relative;
  width: 50vh;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-table;
}
.neirong {
  display: flex;
  flex-direction: column;
  margin: auto 7%;
  height: 80%;
  background-color: rgb(114, 171, 34);
  border-radius: 10%;
}
.neirong ul {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 20%;
}
.neirong ul li {
  margin-bottom: 5%;
}
.neirong ul li label {
  display: inline-block;
  width: 20%;
  font-size: large;
  font-weight: bold;
}
.neirong ul li .inp {
  width: 100%;
  height: 3vh;
  border: 2px solid rgb(244, 219, 150);
}
.neirong ul li .inp2 {
  width: 100%;
  height: 3vh;
  border: 2px solid rgb(244, 219, 150);
  position: relative;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.inp22 {
  width: 85%;
  height: 100%;
  border: 0;
  position: absolute;
}
.eye {
  width: 10%;
  right: 2px;
  position: absolute;
}
.message {
  color: rgb(218, 218, 218);
  font-size: 80%;
}
.code {
  color: rgb(218, 218, 218);
  font-size: 80%;
}
.error {
  color: red;
}
.agree a {
  color: rgb(240, 214, 99);
  text-decoration: none;
}

.btm {
  width: 100%;
  height: 5vh;
  background-color: rgb(67, 147, 13);
  border: 0;
  font-size: 120%;
  font-weight: 700;
  color: aliceblue;
  margin-top: 10%;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
}
